<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>
		<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" >
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
		<metaname='viewport' content='width=device-width initial-scale=1.0'>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="navbar-header">
			  <a class="navbar-brand" href="#">artDex</a>
			  <%- (user) ? user.username : "Notloggedin" %>
			</div>
		</nav>
	
		
		
		




</body>
</html>