<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
		<title>Login</title>
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">
		<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" >
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
		<metaname='viewport' content='width=device-width initial-scale=1.0'>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top">
			
				<div class="navbar-header">
				  <a class="navbar-brand" href="#">artDex</a>
				</div>
			
		</nav>
		
		<div>
			<div class="login-header">
				<h4>V채lkommen till artDex</h4>
				<h6>Spelet d채r du t채vlar i att hitta arter</h6>
			</div>
			<br>
			<br>
			<h4>Senast rapporterat</h4>
			<div style="width:50%; float:left;" >
				<img style="width:100%;" src="https://www.google.com/images/srpr/logo11w.png">
			</div>
			<div class="col-xs-6" style="width:50%">
				<div class="species"><strong>Art:</strong><p> <%= species %></p><br>
					<strong>Familj:</strong><p> <%= family %></p><br>
					<strong>Klass:</strong><p> <%= speciesclass %></p><br>
					<strong>Rike:</strong><p> <%= kingdom %></p></div>
				<strong>Rapporterad:</strong><br>
				<p>2500m ifr책n din nuvarande position.
				2015-03-14 22:30</p>
				</div>
				<br>
				<br>
			</div>

		</div>
			
			
		<form method="post"> 
			<div class="form-group">
				<input class="form-control" type="text" name="username" placeholder="Enter username" />
			</div>
			<div class="form-group">
				<input class="form-control" type="password" name="password" placeholder="Password" />
			</div>
			<a class="btn btn-info" role="button" href="/register">Registrera</a>
			<input class="btn btn-primary" type="submit" value="Logga in" default> 
		</form>
	 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	</body>
</html>