<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" >
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <metaname='viewport' content='width=device-width initial-scale=1.0'>
  </head>
  <body class="login-body">
    <nav class="navbar navbar-default navbar-fixed-top">
      
        <div class="navbar-header">
          <a class="navbar-brand" style="color:#000000; padding-left:0px" href="#"><span class="glyphicon glyphicon-leaf"></span> artDex</a>
        </div>
      
    </nav>
    
    <div>
      <div class="login-header">
        <h4>Välkommen till artDex</h4>
        <h6>Spelet där du tävlar i att hitta arter</h6>
      </div>

      
      
    <form style="width:90%; margin-left:5%;margin-top:60px;" method="post"> 
      <div class="form-group">
        <input class="form-control" type="text" name="username" placeholder="Användarnamn" />
      </div>
      <div class="form-group">
        <input class="form-control" type="password" name="password" placeholder="Lösenord" />
      </div>
      <a  style="width:45%; margin-left:2%; margin-top:40px" class="btn btn-lg btn-success navbar-btn" role="button" href="/">Avbryt</a>
      <input style="width:45%; margin-left:4%;margin-top:40px" class="btn btn-lg btn-success navbar-btn " type="submit" value="Registrera" default> 
    </form>
   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </body>
</html>




<!-- <html>
<head>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" >
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <metaname='viewport' content='width=device-width initial-scale=1.0'>
  </head>
<div class="container">
    <h1> Register Page</h1>
    <p class="lead"> Say something worthwhile here</p>
    <br>
    <form role='form'  action="/register" method="post"  style='max-width: 300px;'>
      <div class="form-group">
          <input class="form-control" type='text' name="username" placeholder='Enter Username'>
      </div>
       <div class=".form-group">
        <input class="form-control" type='password' name="password" placeholder='Password'>
      </div>
      <button class="btn btn-default" type='submit'>Submit</button>
      &nbsp;
      <a href='/'>
        <button class="btn btn-primary" type="button"> Cancel</button>
      </a>
    </form>
    <br>
    <h4> info</h4>
</div>

</html> -->