<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
		<title>Login</title>
		<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" >
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
		<metaname='viewport' content='width=device-width initial-scale=1.0'>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="navbar-header">
			  <a class="navbar-brand" style="color:#000000;" href="#"> <span class="glyphicon glyphicon-leaf"></span> artDex</a>
			 
			  <a style="float: right; color: #000000;"href="/logout">Logga ut</a>
			</div>
		</nav>

		<div style="overflow-y:scroll;height:640px; width:100%; display:inline-block;margin-bottom:50px">
			<ul style="margin-top:10px;list-style:none; width:100%; padding-left:0px;display:inline-block">
			<% for (var i=0; i<9;i++){%>
				<li style="width:100%; height:170px;margin-top:10px; padding-left:10px;cursor:pointer; border-bottom: 2px solid #15A484;" onclick="document.querySelector('#pick-img-btn').click()">
					<img width="150px" height="150px" class="img-circle" style=" border: 4px solid #54D0B4; float:left;" src = <%=animals[i].imageUrl%>>
					<div style="width:calc(100% - 160px); height:150px;float:left; vertical-align:middle; display:table-cell;">
						<span style="width:100%; margin-top:70px;float:left; vertical-align:middle; text-align:center"><%= animals[i].itemName %></span>
					</div>
				</li>
			<% } %>
			</ul>
		</div>

		<div>
			<br>
			<br>
			<form  style="display:hidden" id="uploadForm"
				    enctype   =  "multipart/form-data"
				    action    =  "/animals/api/photo"
				    method    =  "post">
				<input id="pick-img-btn" type="file" name="userPhoto" accept="image/*" onchange="document.querySelector('#img-submit-btn').click()" />
				<input id="img-submit-btn" type="submit" value="Upload Image" name="submit">
			</form>
		</div>
		<nav class="navbar navbar-default navbar-fixed-bottom">
			<div class="navbar-header simon-bottom">
				<button type="button" class="btn btn-lg btn-success navbar-btn simon-button" onclick="window.location.href='/'">Start</button>
				<button type="button" class="btn btn-lg btn-success navbar-btn simon-button" onclick="window.location.href='/badges'">Märken</button>
				<button type="button" class="btn btn-lg btn-success navbar-btn simon-button" onclick="window.location.href='/animals'">Rapportera</button>
				 
			
			</div>
		</nav>

		
		




</body>
