body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #AF9D4E;
}

a {
  color: #00B7FF;
}

body{
 padding:0px;
 padding-top: 50px;
 padding-bottom: 50px;
 margin:0px;
 font-family: 'Open Sans', sans-serif;
 overflow-y:hidden;
}

.container{
height: calc(100% - 30px);
overflow-y:scroll;
}

.navbar {
	border: 0px;
}
.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
    background-color: #785616;
    border-color: #785616;
}

.navbar-brand {
	float:none;
}

a.navbar-brand {
	color: #000000;
}

.grayscaleimage {
	-webkit-filter: grayscale(1);
	filter: grayscale(100%);
}

.login-header {
	text-align: center;
}

.species p{
	font-style: italic;
	display: inline;
}

#progressbar {
  background-color: black;
  border-radius: 8px; /* (height of inner div) / 2 + padding */
  padding: 3px;
}



